<div xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:xo="http://typo3.org/ns/Ps/Xo/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:section name="Main">
		<f:render partial="Components/Media" section="Picture" arguments="{
			file: image,
			image: {
				maxWidth: settings.modules.ce_gallery.image.width,
				height: settings.modules.ce_gallery.image.height,
				cropVariant: settings.modules.ce_gallery.image.cropVariant
			},
			sizes: settings.modules.ce_gallery.image.mediaQueries
		}" />
	</f:section>
</div>