<div xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:xo="http://typo3.org/ns/Ps/Xo/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:section name="Default">
		<f:if condition="{data.bodytext}">
			<f:format.html>{data.bodytext}</f:format.html>
		</f:if>

		<div class="gallery" data-gallery-uid="{data.uid}" data-gallery-lightbox="{data.image_zoom}">
			<ul class="gallery--container">
				<f:for each="{images}" as="image">
					<li><f:render partial="Item" section="Main" arguments="{_all}" /></li>
				</f:for>
			</ul>
		</div>
	</f:section>
</div>