// ---------------------------------------------------------------------------------------------------------------------
// Bootstrap & XNA
@import '../../../../xna/Resources/Public/Sass/functions';
@import '../../../../xna/Resources/Public/Sass/variables';
@import '../../../../xna/Resources/Public/Sass/mixins';
@import '../../../../xna/Resources/Public/Sass/definitions';

// ---------------------------------------------------------------------------------------------------------------------
// Variablen
$ce-gallery--use-css: true !default;
$ce-gallery--layout-default: true !default;
$ce-gallery--layout-slider: true !default;

// ---------------------------------------------------------------------------------------------------------------------
// CSS
@if($ce-gallery--use-css) {

	@if($ce-gallery--layout-default) {
		.ce-gallery--default {
			.gallery--container {
				& {
					margin: 0;
					padding: 0;
					list-style: none;
					@include make-row();
				}

				& > li {
					margin: 0;
					padding: 0;
					@include make-col-ready();
				}
			}

			.gallery--image {
				& {
					display: block;
					margin-top: $spacing-default;
					border: 5px solid #b1b1b1;
				}

				&:hover {
					border-color: #fff;
				}

				img {
					display: block;
					max-width: 100%;
					height: auto;
				}
			}
		}
	}

	@if($ce-gallery--layout-slider) {
		.ce-gallery--slider {
			.gallery--container {
				& {
					margin: 0;
					padding: 0;
					list-style: none;
				}

				& > li {
					margin: 0;
					padding: 0;
				}
			}

			.slider {
				@extend %slider-controls;
				@extend %slider-controls--above;
			}
		}

	}

	@include media-breakpoint-up(sm) {
		@if($ce-gallery--layout-default) {
			.ce-gallery--default {
				.gallery--container {
					& {
						margin-top: -10px; // Ausgleich um wieder auf 20px zu kommen
					}

					& > li {
						@include make-col(6);
					}
				}

				.gallery--image {
					margin-top: $grid-gutter-width;
				}
			}
		}
	}

	@include media-breakpoint-up(md) {
		@if($ce-gallery--layout-default) {
			.ce-gallery--default {
				.gallery--container > li {
					@include make-col(4);
				}
			}
		}
	}
}

// ---------------------------------------------------------------------------------------------------------------------
// XNA Override
@import '../../../../xna/Resources/Public/Sass/xna/modules/gallery';