// ---------------------------------------------------------------------------------------------------------------------
// Bootstrap & XNA
@import '../../../../xna/Resources/Public/Sass/functions';
@import '../../../../xna/Resources/Public/Sass/variables';
@import '../../../../xna/Resources/Public/Sass/mixins';
@import '../../../../xna/Resources/Public/Sass/definitions';

// ---------------------------------------------------------------------------------------------------------------------
// Variablen
$ce-gallery--use-css: true !default;
$ce-gallery--layout-default: true !default;
$ce-gallery--layout-slider: true !default;

// ---------------------------------------------------------------------------------------------------------------------
// CSS
@if($ce-gallery--use-css) {

	@if($ce-gallery--layout-default) {
		.ce-gallery {
			.gallery--image-container {
				margin-top: -15px;
			}

			.gallery--image {
				& {
					display: block;
					margin-top: 15px;
					border: 5px solid #b1b1b1;
				}

				&:hover {
					border-color: #fff;
				}

				img {
					display: block;
					max-width: 100%;
					height: auto;
				}
			}
		}

		@include media-breakpoint-up(sm) {
			.ce-gallery {
				.gallery--image-container {
					margin-top: -$grid-gutter-width;
				}

				.gallery--image {
					margin-top: $grid-gutter-width;
				}
			}
		}
	}
}

// ---------------------------------------------------------------------------------------------------------------------
// XNA Override
@import '../../../../xna/Resources/Public/Sass/xna/modules/gallery';