<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:xo="http://typo3.org/ns/Ps/Xo/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />
	<f:section name="Main">
		<f:if condition="{images}">
			<f:render partial="Listing" section="{flexform.settings.layout -> xo:format.ucFirst()}" arguments="{_all}" />
		</f:if>

		<script>
			xna.l10n.gallery = {
				prev: '<f:translate key="LLL:EXT:ps14_gallery/Resources/Private/Language/locallang_frontend.xlf:lightbox.prev" />',
				next: '<f:translate key="LLL:EXT:ps14_gallery/Resources/Private/Language/locallang_frontend.xlf:lightbox.next" />',
				close: '<f:translate key="LLL:EXT:ps14_gallery/Resources/Private/Language/locallang_frontend.xlf:lightbox.close" />',
			};
		</script>
	</f:section>
</html>